.drawing{
    margin: 2.5% 2.5%;
    padding: 1% 1% 1% 1%;
    border: 1pt solid var(--color);
    display: inline-block;
  }
@media (max-width: 850px) {
    #art {
		display: block;
		max-width: 100%;
		max-height: auto;
		width: auto;
		height: auto;
	}
}